.navbar {
  background: linear-gradient(130deg, $color-primary, $color-secondary);
}

.home-container {
  background-color: aqua;
}

.footer {
  color: white;
  background: linear-gradient(130deg, $color-primary, $color-secondary);
}
